/* -------------------------------- navbar --------------------------------*/

.nav_logo_container {
  display: flex;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.productItem_container img {
  width: 200px;
}
